<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="slide.css">

  <body>

    <div class="adaptivSlayder">
    
      <input type="radio" name="kadoves" id="slaid1" checked>
    
      <input type="radio" name="kadoves" id="slaid2">
    
      <input type="radio" name="kadoves" id="slaid3">
    
       
    
      <div class="kadoves">
    
      <label for="slaid1"></label>
    
      <label for="slaid2"></label>
    
      <label for="slaid3"></label>
    
      </div>
    
       
    
      <div class="adaptivSlayderlasekun">
    
      <div class="abusteku-deagulus">
    
      <img src="1.jpg"/>
    
      <img src="d.jpg"/>
    
      <img src="4.jpg"/>
    
      </div>
    
      </div>
    
    </div>
    
    </body>
    
     
 
</html>
