<!DOCTYPE html>
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" sizes="114x114" href="2.png">
<link rel="stylesheet" href="main.css">
<link rel="stylesheet" href="slide.css">
<link rel="stylesheet" href="3.css">
    <title>О компании</title>

</head>

<header>
    <nav class="container">
  
      <div class="logo">
      
        <img src="logo.jpg" height="50"   float: left>
  
      </div>
    
      <div class="nav-toggle"><span></span></div>
      
      <ul id="menu">
        <li><a href="index.html">Вернуться</a></li>
        
        <li>+7 (8632) 85-61-89	</li>
      </ul>
    </nav>
  </header> 

<body>


    <blockquote class="blockquote-7">

          <p>ООО "Полесье" образовано в 1998 году как производственное предприятие, основной деятельностью которого является конструирование и изготовление оборудования для атомной энергетики,<br>
         традиционной энергетики, нефтегазового комплекса, металлургии и других отраслей промышленности.<br>

         <br>Целью предприятия является изготовление оборудования высокого качества, отвечающего требованиям правил, норм и стандартов по безопасности, что является залогом успешной и стабильной работы предприятия <br>
           и обеспечивает доверие потребителей.</br>
           <br>Имеющиеся технологическое оборудование, средства контроля, измерения, испытательные стенды, а также коллектив предприятия, состоящий из высококвалифицированных рабочих и ИТР, имеющих многолетний опыт в конструировании 
             и изготовлении оборудования для АЭС и других отраслей промышленности позволяют нам выполнять заказы в короткие сроки с высоким качеством и по приемлемым ценам.</p>
          </p>		
        <p>За время своего существования ООО "Полесье" успешно сконструировало, изготовило и поставило оборудование для таких объектов как:<br>
           Балаковская АЭС (Россия), Балтийская АЭС (Россиия), Белоярская АЭС (Россия), Волгодонская АЭС (Россия),  Калининская АЭС (Россия),<br>
           Кольская АЭС (Россия), Курская АЭС (Россия), Ленинградская АЭС (Россия), Нововоронежская АЭС (Россия), Ростовская АЭС (Россия),<br>
           Смоленская АЭС (Россия), Армянская АЭС (Армения), АЭС "Куданкулам" (Индия), АЭС "Тяньвань" (Китай) и др.</br></p>
      
          <p> <br>Стабильность финансового состояния, рентабельность производства, отсутствие кредитной задолженности и задолженности перед бюджетом, <br>
           высокое качество выполняемых работ позволяют нашему предприятию поддерживать производственные и коммерческие связи со многими предприятиями и организациями России и некоторых зарубежных стран.</p>

           <img src="abk_polesye.jpg"><br>Юридический и почтовый адрес:<br>
           Россия, 347360, Ростовская обл., г. Волгодонск, ул. Степная, 16/1.<br>
           Телефон/факс: (8632) 85-61-89</br><img>
     
        </blockquote>
      




  <div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                  <h3>ООО "Полесье"</h3>
                    <ul>
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Система качества</a></li>
                        <li><a href="#">Каталог оборудования</a></li>
                        <li><a href="#">Услуги</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
                
            <p class="copyright">ООО "Полесье" © 2021</p>
        </div>
    </footer>
</div>
</body>