{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>ООО "Полесье" - официальный сайт</title>
<link rel="icon" sizes="114x114" href="{% static 'img/2.png' %}">
<link rel="stylesheet" href="{% static 'css/main.css'%}">
<link rel="stylesheet" href="{% static 'css/menu.css'%}">
<link rel="stylesheet" href="{% static 'css/slide.css'}%">
<link rel="stylesheet" href="{% static 'css/3.css' %}">
<link rel="js" href="app.js">

</head>

<header>
  <nav>
    <ul class="topmenu">
      <li><a href="" class="active">Главная</a>
        <ul class="submenu">
          <li><a href="">меню второго уровня</a></li>
          <li><a href="" class="submenu-link">меню второго уровня</a>
            <ul class="submenu">
              <li><a href="">меню третьего уровня</a></li>
              <li><a href="">меню третьего уровня</a></li>
              <li><a href="">меню третьего уровня</a></li>
            </ul>
          </li>
          <li><a href="">меню второго уровня</a></li>
        </ul>
      </li>
      <li><a href="">Компания</a></li>
      <li><a href="">Блог</a></li>
      <li><a href="">Контакты</a></li>
    </ul>
  </nav>
</header>

<body>

    <div class="hover-text-one">
      <figure class="effect-text-two">
        <img src="{% static 'img/1.jpg' %}" width="1903" alt=""/>
          <figcaption>
      <h3><span>Мы рады приветствовать вас на нашем сайте!</span></h3>
      <p>ООО "Полесье" образовано в 1998 году как производственное предприятие, основной деятельностью которого является конструирование и изготовление оборудования для атомной энергетики,<br>
         традиционной энергетики, нефтегазового комплекса, металлургии и других отраслей промышленности.<br>

         <br>Целью предприятия является изготовление оборудования высокого качества, отвечающего требованиям правил, норм и стандартов по безопасности, что является залогом успешной и стабильной работы предприятия <br>
           и обеспечивает доверие потребителей.</br>
           <br>Имеющиеся технологическое оборудование, средства контроля, измерения, испытательные стенды, а также коллектив предприятия, состоящий из высококвалифицированных рабочих и ИТР, имеющих многолетний опыт в конструировании </br>
            и изготовлении оборудования для АЭС и других отраслей промышленности позволяют нам выполнять заказы в короткие сроки с высоким качеством и по приемлемым ценам.</p>
          </figcaption>			
      </figure>
    </div>
    
    </div>

    
  </div>
</div>
</div>
<div class="txt2">
<h2>Почему нужно выбрать нас</h2>
</div>
<div class="txt">
 
  <p>Наши корпоративные ценности составляют основу всего, что мы делаем</p>
</div>

<div class="iconblock-1">
  <div class="icon">
      <img src="{% static 'img/icons8-контакты-40.png'%}" height="60" />
  </div>
  <h3>Клиентоориентированность</h3>
  <p>Мы внимательно и бережно относимся  <br> к интересам потребителей</p>
</div>

<div class="iconblock-1">
  <div class="icon">
      <img src="{% static 'img/icons8-идея-40.png' %}" height="60"/>
  </div>
  <h3>Новые технологии</h3>
  <p>На нашем производстве постоянно <br> проходит обновление оборудования</p>
</div>

<div class="iconblock-1">
  <div class="icon">
      <img src="{% static 'img/icons8-часы-40.png' %}" height="60"/>
  </div>
  <h3>Ценим ваше время</h3>
  <p>Мы знаем как важно время поэтому<br> все заказы выполняем в срок</p>
</div>

<div class="iconblock-1">
  <div class="icon">
      <img src="{% static 'img/icons8-проверено-40.png' %}" height="60"/>
  </div>
  <h3>Качество</h3>
  <p>Вся продукция предприятия<br> проходит сертификацию</p>
</div>

<div class="iconblock-1">
  <div class="icon">
      <img src="{ % static 'img/icons8-грузовая-машина-40.png' %}" height="60"/>
  </div>
  <h3>Доставка по всему миру</h3>
  <p>Благодаря расположению нашего производства<br> мы осущевствляем доставку оборудования по всему миру </p>
</div>


<blockquote class="blockquote-7">
  <p>За время своего существования ООО "Полесье" успешно сконструировало, изготовило и поставило оборудование для таких объектов как:<br>
     Балаковская АЭС (Россия), Балтийская АЭС (Россиия), Белоярская АЭС (Россия), Волгодонская АЭС (Россия),  Калининская АЭС (Россия),<br>
     Кольская АЭС (Россия), Курская АЭС (Россия), Ленинградская АЭС (Россия), Нововоронежская АЭС (Россия), Ростовская АЭС (Россия),<br>
     Смоленская АЭС (Россия), Армянская АЭС (Армения), АЭС "Куданкулам" (Индия), АЭС "Тяньвань" (Китай) и др.</br></p>

    <p> <br>Стабильность финансового состояния, рентабельность производства, отсутствие кредитной задолженности и задолженности перед бюджетом, <br>
     высокое качество выполняемых работ позволяют нашему предприятию поддерживать производственные и коммерческие связи со многими предприятиями и организациями России и некоторых зарубежных стран.</p>
</blockquote>

       <div class="post-wrap">
        <div class="post-item">
        <div class="post-item-wrap">
       
        <div class="image-wrapper">
        <img src="{% static 'img/4.jpg' %}" height="300">
        </div>
        <div class="text-wrapper">
        <div class="post-cat">Универсально</div>
        <h3 class="post-title">Предприятие располагает парком универсального технологического оборудования</h3>
        </div>
        <div class="overlay"></div></a>
        </div>
        </div>
        
        <div class="post-item">
        <div class="post-item-wrap">
       
        <div class="image-wrapper">
        <img src="{% static 'img/d.jpg' %}" height="300">
        </div>
        <div class="text-wrapper">
        <div class="post-cat">Технично</div>
        <h3 class="post-title">В целях наращивания производственных мощностей предприятие постоянно обновляет свое оборудование</h3>
        </div>
        <div class="overlay"></div></a>
        </div>
        </div>
        
        <div class="post-item">
        <div class="post-item-wrap">
       
        <div class="image-wrapper">
        <img src="{% static 'img/отгрузка.jpg' %}" height="300">
        </div>
        <div class="text-wrapper">
        <div class="post-cat">Надежно</div>
        <h3 class="post-title">Вся деятельность предприятия по обеспечению качества при конструировании и изготовлении
          оборудования регламентирована в программах обеспечения качества</h3>
        </div>
        <div class="overlay"></div></a>
        </div>
        </div>
        </div>



        <blockquote class="blockquote-7">
          <p> ООО «Полесье» располагает аккредитованной испытательной лабораторией</p>
          <ul>
            <li> Металлографические исследования</li>
            <li> Физико-механические испытания</li>
            <li> Испытания на стойкость к МКК</li>
            <li> Стилоскопирование</li>
            <li> Спектральный анализ</li>  
            <li> Ультразвуковой контроль</li>
            <li> Радиографический контроль</li>
            <li> Капиллярный контроль</li>
            <li> Контроль герметичности</li> 
           </ul>
         
      </blockquote>

      <div class="txt2">

      <h2>Новости и события</h2>

      </div>

      <section class="grid">
        <article class="grid-item">
            <div class="image">
                <img src="{% static 'img/bora.jpg' %}" />
            </div>
            <div class="info">
                <h2>АЭС «Куданкулам»</h2>
                <div class="info-text">
                    <p>Выполняется нанесение покрытия на Емкость системы быстрого ввода бора</p>
                </div>
                <div class="button-wrap">
                    <a class="atuin-btn" href="#link">Подробнее</a>
                </div>
            </div>
        </article>
        
      
        
        <article class="grid-item">
            <div class="image">
                <img src="{% static 'img/шахта.jpg' %}" />
            </div>
            <div class="info">
                <h2>Отгружено перекрытие шахты реактора</h2>
                <div class="info-text">
                    <p>Отгружено перекрытие шахты реактора</p>
                </div>
                <div class="button-wrap">
                    <a class="atuin-btn" href="#link">Подробнее</a>
                </div>
            </div>
        </article>    


        
        <article class="grid-item">
          <div class="image">
              <img src="{% static 'img/dsc_0015.jpg' %}" />
          </div>
          <div class="info">
              <h2>Обновление парка станочного оборудования</h2>
              <div class="info-text">
                  <p> В целях наращивания производственных мощностей и обновления парка станочного оборудования предприятием
                    ООО «Полесье» закуплено более совершенное, высокоточное, производительное технологическое оборудование,
                    оснащенное системой ЧПУ.</p>
              </div>
              <div class="button-wrap">
                  <a class="atuin-btn" href="#link">Подробнее</a>
              </div>
          </div>
      </article>    

      <article class="grid-item">
        <div class="image">
            <img src="{% static 'img/dsc06655_-_1.jpg' %}" />
        </div>
        <div class="info">
            <h2>Гидрообразивная резка</h2>
            <div class="info-text">
                <p> В ООО «Полесье» успешно внедрено и используется оборудование гидроабразивной резки фирм
                  Bystronic ByJet (Швейцария) и PTV (Чехия).</p>
            </div>
            <div class="button-wrap">
                <a class="atuin-btn" href="#link">Подробнее</a>
            </div>
        </div>
    </article>    
    </section>

     


        <div class="footer-dark">
          <footer>
              <div class="container">
                  <div class="row">
                      <div class="col-sm-6 col-md-3 item">
                        <h3>ООО "Полесье"</h3>
                          <ul>
                              <li><a href="#">О компании</a></li>
                              <li><a href="#">Система качества</a></li>
                              <li><a href="#">Каталог оборудования</a></li>
                              <li><a href="#">Услуги</a></li>
                              <li><a href="#">Контакты</a></li>
                          </ul>
                      </div>
                      
                  <p class="copyright">ООО "Полесье" © 2021</p>
              </div>
          </footer>
      </div>
        

            </body>
</html>